<h1>Ajout d'un assignment</h1>
<form ngForm #assignmentForm class="form" (submit)="onSubmit($event); assignmentForm.reset()">
    <mat-form-field>
        <input matInput required [(ngModel)]="nomAssignment" name="nom" placeholder="Nom">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Date de rendu</mat-label>
        <input matInput [matDatepicker]="picker" required [(ngModel)]="dateDeRendu" name="date">
        <!-- <mat-hint>DD/MM/YYYY</mat-hint> -->
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      

    <button mat-stroked-button color="primary" [disabled]="nomAssignment=='' || dateDeRendu===undefined">
        Ajouter un devoir
    </button>
</form>